body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

table, .grid {
  border-spacing: 0;
}

.cell {
  width: 30px;
  height: 30px;
}

.topWall{
  border-top: 1px solid black;
}

.leftWall{
  border-left: 1px solid black;
}

.rightWall{
  border-right: 1px solid black;
}

.bottomWall{
  border-bottom: 1px solid black;
}

.beginMaze{
  background-color: green;
}

.endMaze{
  background-image: url(../images/castle.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.stop {
  background-color: white;
}

.filled {
  background-color: red;
}

#player, #ruben {
  width: 24px;
  height: 24px;
  padding-left: 3px;
  padding-top: 3px;
}

#player{
  transform: rotate(-40deg);
}
table {
  margin:auto;
}

#meme{
  width: 30%;
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 50;
}